<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>러닝톡</title>
    <link href="/stylesheets/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <!-- 상단바 -->
      <div class="nav">
        <div class="nav-title" onclick="location.href='/'">
          <img src="/images/running_icon.png" alt="메인아이콘" />
          <p>빽러닝</p>
        </div>
        <div class="nav-btns">
          <button onclick="location.href='/'">러닝코스</button>
          <button onclick="location.href='/post/talk'">러닝 톡</button>
          <button onclick="location.href='/auth/mypage'">내 프로필</button>
        </div>
      </div>

      <!-- 로그인 여부 확인 -->
      <% if (user) { %>
      <div class="content">
        <!-- 톡 추가 버튼 -->
        <button class="btn mb-10" onclick="location.href='/writeTalk'">➕ 러닝톡 추가하기</button>

        <!-- 게시물 리스트 -->
          <% write.forEach(function(item) { %>
            <div class="box">
              <div class="talk-title-div">
                <div class="talk-title-info">
                  <p class="talk-title"><%= item.title %></p>
                  <p class="talk-author">✍️<%= item.userId.nick %> </p>
                </div>
              </div>
              <div class="talk-content-div">
                <p><%= item.content %></p>
              </div>
              <div class="talk-comment-div">
                <!-- 댓글 입력창 -->
                <div class="talk-comment-input-div">
                  <input
                    type="text"
                    action="/post/comment"
                    id="commentInput"
                    placeholder="댓글을 입력하세요" />
                  <button id="commentSubmitBtn" class="btn">댓글 달기</button>
                </div>
                <!-- 댓글 하나 -->
                <div class="talk-comment">
                  <p class="talk-comment-author">😀 작성자</p>
                  <p>댓글 내용</p>
                </div>
              </div>
            </div>
          <% }); %>
      </div>
      <% } else { %>
      <!-- 비로그인 상태 -->
      <div class="content">
        <div class="no-login-notice">
          <p>😊</p>
          <p>현재 로그인을 하지 않았어요.</p>
          <p><span>내 프로필</span>에서 먼저 로그인을 하고 이용해주세요!</p>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
