<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새 Forum 작성</title>
    <link href="stylesheets/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <!-- 상단바 -->
      <div class="nav">
        <div class="nav-title" onclick="location.href='/'">
          <img src="/images/running_icon.png" alt="메인아이콘" />
          <p>빽러닝</p>
        </div>
        <div class="nav-btns">
          <button onclick="location.href='/'">러닝코스</button>
          <button onclick="location.href='/post/talk'">러닝 톡</button>
          <button onclick="location.href='/auth/mypage'">내 프로필</button>
        </div>
      </div>
      <div class="content">
        <div class="box">
          <p class="write-title">새 러닝톡 작성</p>
          <form class="write-box" action="post/talk" method="post">
            <p>👉 제목</p>
            <input type="text" placeholder="제목을 입력해주세요." name="title" />

            <p>🤔 내용</p>
            <input type="text" placeholder="러닝톡의 내용을 자유롭게 적어주세요." name="content" />

            <button class="btn" type="submit">작성하기</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

	
